fastapi
ecs-logging
aws_embedded_metrics
asgi-logger
pydantic_settings
dnspython
pymongo
pymongo[aws,snappy,zstd,encryption]
httpx
uvicorn
boto3
python-multipart
langgraph
langchain-core
langchain-aws
